/*Reset CSS*/
/*Tailwind tilføjer selv en nogle css-resets, som nulstiller padding, margin, text-decoration, buttonstyling m.m*/

header{
  position: sticky; /*bliver siddende i toppen*/
  top: 0;
  z-index: 100;
  color: #fff;
  background-color: #383727;
  font-family: 'Urbanist', Verdana, Tahoma, system-ui, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

header .responsivetopnav{ /*indeholder logo og burger*/
  display: flex;
  justify-content: space-between; /*placerer dem i hver sin side af headeren*/
  padding-inline: 16px 4px;
  text-transform: uppercase;
}

header .responsivetopnav .linktext img{
  height: 24px;
  width: auto;
}

header .btn_burger{ /*indeholder animeret burger*/
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;  
  height: 60px;
  width: 60px;
  cursor: pointer;
  padding: 12px;
}

header .btn_burger span{ /*hver streg i den animerede burger*/
  width:75%;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  transition: all 0.3s; /*giver synlig burger-animation*/
}

/*---Burger-animation*/
/*øverste linje roterer og rykker sig ned mod midten*/
header .responsivetopnav.aktiv .btn_burger span:nth-of-type(1){
  transform: translateY(9px) rotate(-45deg);
}
/*midterste linje bliver så smal at den ikke kan ses*/
header .responsivetopnav.aktiv .btn_burger span:nth-of-type(2){
  width: 0px;
}
/*nederste linje roterer og rykker sig op mod midten*/
header .responsivetopnav.aktiv .btn_burger span:nth-of-type(3){
  transform: translateY(-10px) rotate(45deg);
}
/*---Burger-animation slut*/

header menu{ /*vises som udgangspunkt ikke ved mobil-visning*/
  display: none;
}

header .responsivetopnav.aktiv ~ menu{ 
  display:block;
}

header .linktext{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: inherit;
  transition: all 0.5s ease;
}

header .linktext:hover,
header .linktext:focus,
header .aktivfane{
  background-color: hsl(56, 18%, 24%);
}

header .linktext:active{
  background-color: hsl(56, 18%, 14%);
  }

@media screen and (min-width: 768px){
  header nav{/*indeholder logo og menu med nav-links, som placeres i hver sin side*/
    display: flex;
    justify-content: space-between;
    padding-inline: 16px;
    font-size: 26px;
  }

  header .linktext{ /*nav-links har fuld højde og padding i stedet for gaps, så hele området bliver clickable og ikke kun teksten*/
    height: 80px;
    padding-inline: 16px;
    justify-content: center;
    position: relative;
  }

  .navhovereffekt{
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 0.5s ease;
  }
  
  header .linktext:hover,
  header .linktext:focus,
  header .aktivfane{
    background-color: transparent;
  }
  
  header .linktext:hover .navhovereffekt,
  header .linktext:focus .navhovereffekt, 
  header .aktivfane .navhovereffekt{
    height: 4px;
    background-color: #fff;
  }

  header .responsivetopnav{/*indeholder kun logo*/
    padding: 0;
  }

  header .responsivetopnav .linktext img{
    height: 28px;
    width: auto;
}

/*fjerner burgeren og "forside"-punktet*/
  header .btn_burger, header menu li:first-of-type{
    display: none;
  }

  header menu{/*navigationen vises horisontalt på laptop*/
    display:flex;
  }
  
  header .responsivetopnav.aktiv ~ menu{
    /*hvis burger-menu er åbnet i mobil-visning og vinduet gøres større igen, vises menuen horisontalt*/
    display:flex;
  }
}